.bg-success-subtitle {
  background-color: #cdeee0;
}

.bg-primary-subtitle {
  background-color: #d3e6fd;
}

.bg-dark-subtitle {
  background-color: #f6f6f6;
}

.link-underline {
  text-decoration: none;
}

.link-underline:hover {
  text-decoration: underline;
}

.none-underline {
  text-decoration: none;
}

.course-link {
  text-decoration: none;
  color: inherit;
}

.course-link-hover:hover {
  text-decoration: none;
  color: inherit;
}
